@import './variables';
@import './common';
@import './media_queries';
@import './typografy';
@import './vuesax_custom.scss';

.main {
  width: 80%;
  margin: auto;
  position: relative;
  top: 5rem;
}

.avatar-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}

.zoom{
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); 
  cursor: pointer;
}