.none-shadow-header .vs-card--header {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.no-border .vs-list--item{
  border-bottom: none !important;
}

.vs-collapse-open-fullheight .vs-collapse-item--content {
  max-height: 100% !important;
}